body {
    display: flex;
    flex-direction: column;
    /* flex: 1 1 100%; */
    /* min-height: 100%; */
    /* align-items: center; */
    justify-content: center;
}

.one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 5%;
}

.head-links {
    color: #e5e7eb;
    font-size: 18px;
    /* margin: 15px; */
}

ul {
    list-style: none;  /* Removes bullet points */
    padding: 0;
    margin: 0;
    display: flex;  /* Makes list items appear in a row */
    gap: 15px;  /* Adds spacing between items */
    margin-right: 15px;
}
